/* Colors and fonts */
body {
background: rgb(205,125,245);
color: #9B59B6 ;
font-size: 18px;
font-weight: light;
font-family: 'Max', serif;
}
h1,h2,h3 {
font-family: 'Calibri', sans-serif;
}
h1 {
color: #E74C3C;
font-size: 30px;
font-weight: 850;
}
h2 {
color: #E74C3C;
font-size: 30px;
font-weight: lighter;
font-weight: 600;
}
a {
color: #E74C3C;
text-decoration: none;
font-weight: bold;
transition: color 0.7s ease;
font-weight: 700;
font-size: 16px;
}
a:hover {
color: brown;
}
img {
width: 100px;
border-radius: 50%;
}
ul {
list-style: none;
padding-left: 0px;
}
li {
display: inline;
padding: 10px;
}
i {
font-size: 50px;

color: rgb(210, 220, 220);
}
i:hover {
color: red;
}
/* Division design */
.container {
width: 700px;
margin: 40px auto;
}
@media (max-width: 960px) {
.container {
width: 700px;
}
}
@media (max-width: 720px) {
.container {
width: 500px;
}
}
@media (max-width: 540px) {
.container {
width: 300px;
}
}
.card-white {
background-color: white;
border-radius: 7px;
box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
padding: 30px;
margin: 30px auto;
text-align: center;
}
.btn-blue {
background-color: #6B72E1;
color: white;
padding: 20px 25px;
border-radius: 7px;
}
.btn-blue:hover {
background-color: rgb(100, 100, 100);
color: white;
}

#intro p {
margin-bottom: 35px;
#intro img {
  display: block;
  margin: 20px auto; /* Ajoute une marge autour de l'image */
  border: 5px solid #fff; /* Ajoute une bordure blanche */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Ajoute une ombre portée */
}